
# Binaries
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.suo
*.suo.lock

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.tmp
*.log
*.pid
*.vspscc
*.vssscc
*._*
*.ilk
*.mdf
*.ldf
*.sdf
*.pdb
*.idb
*.pch
*.res
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.DotSettings
*.dotCover
*.dotMemory
*.dotTrace
*.config.user
*.opensdf
*.dbmdl
*.dbproj.suo
*.dbproj.user
*.resharper
*.resharper.user
*.suo
*.user
*.csproj.user
*.vbproj.user
*.webinfo
*.publishproj
*.publishsettings
*.pubxml
*.pubxml.user